.text-truncate {
    font-weight: 600;
    font-size: 20px;
}

.header_area {
    width: 100%;
    z-index: 10;
    transition: background 0.4s, all 0.3s linear;
    box-shadow: 0px 10px 27px 3px rgba(221,221,221,0.3)
}

.fixed {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%
}

.user-name {
    color: rgba(0, 35, 71, 0.98);
    font-weight: 600;
}

a {
    text-decoration:none;
}

.fa-logout :hover{
    color:gray;
}