.footer_title {
    line-height: 24px;
    font-weight: 500;
    font-family: "Oswald",sans-serif;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 28px
}

.single-footer-widget .instafeed {
    margin-left: -5px;
    margin-right: -5px;
}

.instafeed li {
    margin: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.flex-wrap {
    flex-wrap: wrap;
  }

.text-truncate {
    font-weight:600;
}