@using FashionBrowser.Domain.ViewModels;
@model UserItemViewModel;

@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<link href="~/usercss/user.css" rel="stylesheet" />
<partial name="_Alert" />
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Login / Register</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/" style="color:black">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Login/Register</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<form asp-action="register" asp-controller="Users" id="frmUser"
      method="post" enctype="multipart/form-data">
<section class="login_box_area section-margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 box-al">
                    <div class="login_box_img">
                        <div class="hover">
                            <h4>Already have an account?</h4>
                            <p style="color:azure; font-size: 20px">Join us now to get great deals right away</p>
                            <p style="color:azure">Lots of trendy products are waiting for you !</p>
                            <a class="button button-account" href="~/users/login">Login Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner register_form_inner">
                        <h3>Create an account</h3>
                        <form class="row login_form" action="#/" id="register_form">
                            <div class="col-md-12 form-group">
                                <input asp-for="FirstName" type="text" class="form-control" placeholder="FirstName"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'FirstName'">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <input asp-for="LastName" type="text" class="form-control" placeholder="LastName"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'LastName'">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <input asp-for="Email" type="email" class="form-control" placeholder="Email Address"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="PhoneNumber"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'PhoneNumber'">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <input asp-for="Password" type="password" class="form-control password" placeholder="Password"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <input asp-for="ConfirmPassword" type="password" class="form-control confirmPassword" placeholder="Confirm Password"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <input type="checkbox" id="f-option2" name="selector">
                                    <label for="f-option2">Keep me logged in</label>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="button button-register w-100">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}