@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@await Html.PartialAsync("_Banner")

<partial name="_Alert" />

<form asp-action="Index" id="form-product" asp-controller="Product" method="post" enctype="multipart/form-data">
<section class="section-margin calc-60px">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Popular Item in the market</p>
            <h2>Trending <span class="section-intro__style">Product</span></h2>
        </div>
        <div class="row">
            @foreach (var product in Model.ListProduct)
            {
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <a class="product-img" href="~/Product/Detail/@product.Id">
                                <img class="card-img" src="~/Product/@product.ImagePath" alt="">
                            </a>
                            <ul class="card-product__imgOverlay">
                                <li><button><i class="ti-search"></i></button></li>
                                <li>
                                    <button type="submit"
                                            formaction="@Url.Action("AddToCart", "Cart", new {productId = product.Id})"
                                            formmethod="post">
                                        <i class="ti-shopping-cart"></i>
                                    </button>
                                </li>
                                <li><button><i class="ti-heart"></i></button></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <h4 class="card-product__title"><a href="single-product.html">@product.Name</a></h4>
                            <p>Đơn Vị Phân Phối : @product.Provider</p>
                            <p class="card-product__price">@product.DisplayPrice VNĐ</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
</form>